<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Uncovr + Wenzetu" />
        <meta name="description" content="Created by Uncovr and Wenzetu" />
        <meta
            name="keywords"
            content="uncovr, wenzetu"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %} Uncovr + Wenzetu {% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="#" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/global.css"
        />
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
